@model RoleEdit_VM
@{
    ViewData["Title"]="Role edit";
}


<form class="d-flex justify-content-center align-items-center min-vh-100 bg-light text-dark" asp-action="EditRole" method="post">
    <div class="card shadow-lg p-4 text-center" style="width: 350px;">
        <div class="card-body d-flex flex-column">
            <input class="form-control text-center" placeholder="New Role Name" asp-for="NewName" />
            <span asp-validation-for="NewName" class="text-danger fw-bold"></span>
            <partial name="Privileges_partial" model="@Model"/>
            <button class="btn btn-primary mt-4">Save Changes</button>
            <div asp-validation-summary="All" class="text-danger mt-3 fw-bold"></div>
            <input type="text" asp-for="OldName" value="@Model.OldName" hidden/>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}